



.jumbotron{
	background-color:#19a2de; font-family:'Oswald', sans-serif;
	
}
.dropdown-menu{background-color:#f2eff1; font-family:'Oswald', sans-serif;}

.row{
	padding-top:90px;
padding-bottom:20px;
  
}
.col-md-4{ font-family:'Oswald', sans-serif; }

.jumbotron-special{
	background-color:#a500ff;
}
.col-md-6{ font-family:'Oswald', sans-serif; color:#a500ff; }

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("http://www.drawingtutorials101.com/drawing-tutorials/Religions/Hinduism/vishnu/how-to-draw-Vishnu-step-0.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://i.ytimg.com/vi/S7_niexGYEo/hqdefault.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("http://www.srinivasagovinda.com/images/2010/release1/srinivasa-govinda-rel1-8.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #ddd;
}








	